body {
    background-color: #0000FF; /* Blue color */
	font-family: Calibri, sans-serif;
}

.head-foot {
    background-color: #FFFFE0; /* Light yellow color */
}

.inside-box {
    background-color: #ADD8E6; /* Light blue color */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}